/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.first-content {
  display: grid;
  justify-content: flex-start;
  align-items: start;
  gap: 0.8rem;
}

.search-tab {
  display: flex;
}

.btn-one {
  height: 2rem;
  width: 7rem;
  color: aliceblue;
  background-color: gray;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.Add-product {
  display: grid;
  flex-direction: column;
}
.btn-two {
  height: 2rem;
  width: 10rem;
  background-color: yellow;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn-three {
  height: 2rem;
  width: 15rem;
  color: aliceblue;
  background-color: gray;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-four {
  height: 2rem;
  width: 10rem;
  background-color: yellow;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr {
  height: 75px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.img{
  height: 5rem;
  width: 5rem;
}