/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.first-content{
  display:grid;
  justify-content:flex-start;
  align-items:start;
  gap: 0.8rem;
}

.search-tab{
  display: flex;
}

.btn-one{
  height: 2rem;
  width: 7rem;
  color: aliceblue;
  background-color: gray;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.title{
  display: flex;
  justify-content: space-between;
}

.names{
  font-size: 1.2rem;
  font-weight: 1000;
}

.Add-product{
  display: none;
  flex-direction: column;
}
.btn-two{
  height: 2rem;
  width: 10rem;
  background-color: yellow;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn-three{
  height: 2rem;
  width: 15rem;
  color: aliceblue;
  background-color: gray;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.edit-product{
  display: none;
  flex-direction: column;
}
.btn-four{
  height: 2rem;
  width: 10rem;
  background-color: yellow;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

